.container{
	max-width: 1657px;
	margin:0 auto;
}


.youtube-icon{
	color: red;
	font-size: 25px;
}
.fa-facebook{
	font-size: 25px;
	color: #4267B2;
}
.icon-icon1:before {
	color: red;
	font-size: 25px;
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.social-icons{
	margin-top: 40px;
}
ul{
	display: flex;

}
li{
	padding: 30px;
}
.burger-icon{
	display: none;
}
.mobile-nav{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 50px;
	left: 0;
	display: none;
	background-color: green;
}
.burger-icon:hover .mobile-nav{
	display: block;
}
input{
	padding: 5px;
	margin: 10px;
}
textarea{
	resize: none;
}